.left {
  overflow: hidden;
}

.left .images {
  width: 2700px;
  height: 200px;
  animation-name: rotation_map_left;
  animation-duration: 32s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.left img {
  float: left;
}

@keyframes rotation_map_left {
  0% {
    margin-left: 0;
  }
  12.5% {
    margin-left: -300px;
  }
  25% {
    margin-left: -600px;
  }
  37.5% {
    margin-left: -900px;
  }
  50% {
    margin-left: -1200px;
  }
  62.5% {
    margin-left: -1500px;
  }
  75% {
    margin-left: -1800px;
  }
  87.5% {
    margin-left: -2100px;
  }
  100% {
    margin-left: -2400px;
  }
}

.left .indicator_item {
  animation-name: indicator_opacity;
  animation-duration: 32s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.left .indicator_item:nth-child(1) {
  animation-delay: 0s;
}
.left .indicator_item:nth-child(2) {
  animation-delay: 4s;
}
.left .indicator_item:nth-child(3) {
  animation-delay: 8s;
}
.left .indicator_item:nth-child(4) {
  animation-delay: 12s;
}
.left .indicator_item:nth-child(5) {
  animation-delay: 16s;
}
.left .indicator_item:nth-child(6) {
  animation-delay: 20s;
}
.left .indicator_item:nth-child(7) {
  animation-delay: 24s;
}
.left .indicator_item:nth-child(8) {
  animation-delay: 28s;
}

@keyframes indicator_opacity {
  0% {
    background-color: #fff;
  }
  25% {
    background-color: #555;
  }
  100% {
    background-color: #555;
  }
}
